// Define base and accent colors
$base-color: #159957;
$base-color-hover: darken($base-color, 10%);

// Define background colors
$background: #fff;
$background-alt: #FBFBFB;

// Define border colors
$border: #dcd9d9;
$grey: #f0f0f0;
$white: #fff;

// Define text colors
$heading: #374054;
$text: #333;