@use "../../../variables" as vars;
@use "../../../colors" as colors;

.btn-rounded-white {
  display: inline-block;
  color: #fff;
  padding: 15px 25px;
  border: 3px solid #fff;
  border-radius: 30px;
  text-decoration: none;
  @include vars.transition();

  &:hover {
    color: colors.$base-color;
    background: #fff;
  }
}

.btn-rounded-primary {
  display: inline-block;
  color: colors.$base-color;
  padding: 15px 25px;
  background-color: colors.$grey;
  border: 1px solid colors.$white;
  border-radius: 30px;
  text-decoration: none;
  @include vars.transition();

  &:hover {
    color: colors.$base-color;
    border: 1px solid colors.$base-color;
    background: colors.$white;
  }
}