@use "../../../colors" as colors;
@use "../../../variables" as vars;

.contact {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  background-image: url('../../assets/codepen.jpg');
  background-size: cover;
  background-position: center;
}

.contact-note {
  color: colors.$white
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); // Dark overlay for contrast
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.contact-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .contact {
    height: 60vh;
    box-sizing: border-box;
  }

  .contact-content {
    width: 80%;
  }

  .contact-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon {
    display: none;
  }
}
