@use "../../../colors" as colors;
@use "../../../variables" as vars;

#lead-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-subtitle{
  font-size: 2em;
  margin: 0.5em;
  color: colors.$base-color
}

#lead-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(colors.$base-color-hover, 0.8);
  z-index: 1;
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 30px 0;

  &:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: colors.$base-color;
  }
}

.background-alt {
  background: colors.$background-alt;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid colors.$grey;
  margin-bottom: 1em;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


@media (max-width: 768px) {
  #lead-content{
    width: 100%;
  }

  .hero-subtitle {
    font-size: 1.3em;
    //display: none;
  }
}
